extends layout



include _includes/sharedHTMLfunctions



block content
  //Page header area
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .error= message

      app-home-list Loading...
      //List
      //- .row.list-group
      //- each location in locations
        .card
          .card-block
            h4 
              a(href="/location/#{location._id}")= location.name
              small &nbsp;
                +outputRating(location.rating)  
              
              
              span.badge.badge-pill.badge-default.float-right=location.distance
            p.address= location.address
            .facilities
              each facility in location.facilities
                span.label.label-warning= facility
                &nbsp;
              

    .col-xs-12.col-sm-4
      p.lead= sidebar

block scripts
  script(src='/build/runtime.26209474bfa8dc87a77c.js')
  script(src='/build/es2015-polyfills.8324bb31dd8aa5f2460c.js')
  script(src='/build/polyfills.8bbb231b43165d65d357.js')
  script(src='/build/main.664f53cc658fa8626c1b.js')
  



    
